

.Post-actions {
    z-index:9999
}

@media (min-width: 992px){
    .TagsPage .sideNav {
        margin-top: 5em;
    }
}
body .item-discussion-views{
    margin-left: 1em;
    margin-right: 0;

}


@media (max-width: 767.98px) {
    .DiscussionListItem-author .Avatar {
        --size: 35px;
        margin-top: 0;
    }

    .DiscussionListItem {
        padding-top: 2px
    }
    .DiscussionListItem-content {
        background: #fff;
        margin: 5px 10px;
        box-shadow: rgba(0,0,0,0.1) 0 1px 3px 0,rgba(0,0,0,0.06) 0 1px 2px 0 !important
    }

    .DiscussionListItem-title {
        font-weight: 600
    }

    .Badge {
        --size: 20px;
        box-shadow: unset;
        margin-top: 8px
    }

}

@media (min-width: 768px) {

    .DiscussionListItem{
        box-shadow: rgba(0,0,0,0.1) 0 1px 3px 0,rgba(0,0,0,0.06) 0 1px 2px 0 !important;
        margin: 10px -10px;
    }

}

.IndexPage-toolbar .item-search{
    display: none;
}

.item-tag24{
    display: none;
}
.item-tag25{
    display: none;
}
.item-tag30{
    display: none;
}