<div th:fragment="basePage" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script type="text/javascript" th:href="@{/js/ajaxRequest.js}" src="/js/ajaxRequest.js"></script>

    <script type="text/javascript" th:href="@{/js/api.js}" src="/js/api.js"></script>
    <script type="text/javascript" th:href="@{/js/menu.js}" src="/js/menu.js"></script>

    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          fontFamily: {
            sans: ["Roboto", "sans-serif"],
            body: ["Roboto", "sans-serif"],
            mono: ["ui-monospace", "monospace"],
          },
        },
        corePlugins: {
          preflight: false,
        },
      };



    $(function () {
        console.log("ItemId=" + ItemId);
        if(ItemId==null){
            return;
        }
        if(ItemId.indexOf("ItemId")>-1){
          var arr = ItemId.split("-")
          $("#ItemId-"+arr[1]).addClass("bg-[rgba(18,102,241,0.05)]")
          if(arr.length > 2)  $("#"+ItemId).addClass("bg-[rgba(18,102,241,0.05)]")
        }
    })






    </script>
</div>
